<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/jason_styles.css">
    <link rel="stylesheet" href="../styles/bootstrap-social.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="icon" href="../includes/favicon.png">

    <title>Login</title>
</head>
<body style="background-color: #8adae2;">
<nav class="navbar sticky-top navbar-expand-sm navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle"
            aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-toggle">

        <form action="" method="get" class="form-inline my-2 my-lg-0" >
            <a class="btn btn-secondary text-uppercase" href="../View_Opportunities" style="width: 150px; font-size: 0.8em; padding: 10px;">View Opportunities</a>
        </form>
        <form action="" method="get" class="form-inline my-2 my-lg-0" >
            <a class="btn btn-secondary text-uppercase" href="../Process_LinkedIn" style="width: 150px; font-size: 0.8em; padding: 10px;">Sign in with LinkedIn</a>
        </form>


    </div>
</nav>

<div class="container mx-auto p-3 py-5 border shadow bg-light" style="background-color: #f4f4f4; width: 390px; margin-top: 75px; margin-bottom: 75px;">
    <h1 class="text-center mb-4">WTIA <p class="color">Connections</p></h1>
    <p class="text-center">Sign in</p>
    <form method="post" action="../">

        <div class="row my-2 mx-4">
            <div class="col">
                <input type="email" class="form-control" placeholder="Email" name="email" >
            </div>
        </div>
        <div class="row my-3 mx-4">
            <div class="col">
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
        </div>
        <div class="row mt-4 text-center">
            <div class="col">
                <input class="btn btn-secondary text-uppercase" style="width: 276px; font-size: 0.8em; padding: 9px;" type="submit" value="Login">
            </div>
            <div class="col">
                <a class="" href="/Forgot_Password" style="  display: flex; justify-content: center;  font-size: 0.8em; padding: 9px;" type="">Forgot Password?</a>
            </div>
        </div>

        <hr class=" mb-4">
        <p class="text-center mb-4">Create a New Account</p>
        <div class="row text-center mx-2">
            <div class="col">
                <a class="btn btn-secondary text-uppercase" href="../Register_Speaker" style="width: 100px; font-size: 0.8em; padding: 10px;">Speaker</a>
            </div>
            <div class="col">
                <a class="btn btn-secondary text-uppercase" href="../Register_Teacher" style="width: 100px; font-size: 0.8em; padding: 10px;">Teacher</a>
            </div>
        </div>


</form>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="../scripts/linkedin.js"></script>



</body>
</html>