</div><div class="container text-center shadow border bg-light" style="margin-bottom: 100px; height: 500px; padding-top: 150px;"> <h1>Thank you!</h1>
    <p>Your email has been sent!</p><p></p>


    <div class="text-center" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a href="../"><button type="button" class="btn btn-secondary">Click here to view more opportunities!</button></a>
        </div>
    </div>
</div>