<!--Start of html - IT professional create account form-->
<div class="container border shadow bg-light">
    <div class="col-sm-12 text-center pb-5">
        <h1 class="display-4">Create your Teacher Account</h1>
    </div>
    <div class="col-sm-8 offset-md-2 offset-sm-0 justify-content-center">
        <form class="form-group" action="../Register_Teacher" method="post">
            <fieldset class="form-group">
                <div class="form-row col">
                    <div class="form-group col-md-6">
                        <label for="first_name" class="required">First name</label>
                        <input type="text" class="form-control" name="first_name" id="first_name" size="25"
                               maxlength="25" value="<?php if(isset($_POST['first_name'])) echo $_POST['first_name'] ?>" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="last_name" class="required">Last name</label>
                        <input type="text" class="form-control" name="last_name" id="last_name" size="25"
                               maxlength="25" value="<?php if(isset($_POST['last_name'])) echo $_POST['last_name'] ?>" required>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="email" class="required">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" size="256" maxlength="256"
                           value="" required>
                </div>
                <div class="form-group col">
                    <label for="password" class="required">Password</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="password" class="form-control" name="password" id="password" size="20"
                                   maxlength="20" value="" placeholder="Password" required>
                        </div>
                        <div class="col">
                            <small id="passwordHelp" class="form-text text-muted col">At least 10 characters</small>
                        </div>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="confirm" class="required">Confirm</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="password" class="form-control" name="confirm" id="confirm" size="20"
                                   maxlength="20" value="" placeholder="Confirm password" required>
                        </div>
                        <div class="col">
                            <small id="passwordHelp" class="form-text text-muted col">Must match password</small>
                        </div>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="district">District</label>
                    <input type="text" class="form-control" name="district" size="80" maxlength="80"
                           value="" id="district">
                </div>

                <div class="form-row col">
                    <div class="form-group col-6">
                        <label for="school">School</label>
                        <input type="text" class="form-control" name="school" id="school" size="40" maxlength="40"
                               value="<?php if(isset($_POST['school'])) echo $_POST['school'] ?>">
                    </div>
                    <div class="form-group col-6">
                        <label for="grade">Grade</label>
                        <select class="custom-select" name="grade" id="grade">
                            <option selected>Select a Grade</option>
                            <option value="6">6th Grade</option>
                            <option value="7">7th Grade</option>
                            <option value="8">8th Grade</option>
                            <option value="9">9th Grade</option>
                            <option value="10">10th Grade</option>
                            <option value="11">11th Grade</option>
                            <option value="12">12th Grade</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col">
                    <label for="bio">Short biography about you (third-person)</label>
                    <textarea class="form-control" name="bio" id="bio" maxlength="560" placeholder="Optional, Limit 560 characters"><?php if(isset($_POST['bio'])) echo $_POST['bio'] ?></textarea>
                </div>
                <div class="form-group col">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject"
                           value="<?php if(isset($_POST['subject'])) echo $_POST['subject'] ?>">
                </div>


            </fieldset>

            <fieldset class="form-group col">
                <div class="form-check text-left">
                    <input class="form-check-input" type="checkbox" name="weekly_email" id="weekly_email" value="yes">
                    <?php if(isset($_POST['formats'])){echo 'checked';}?>>
                    <label class="form-check-label" for="weekly_email">Receive weekly email updates for speaker matches?</label>
                </div>
            </fieldset>
            <div class="form-group col">
                <div class="col text-center mt-5">
                    <button type="submit" class="btn btn-secondary" value="Submit">Create Account</button>
                </div>
            </div>
        </form>
    </div>
</div>